body {
  margin: 0 auto;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fdeb37;
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar-link {
  display: block;
  text-decoration: none;
  color: #fd7537;
  font-weight: 700;
}
.navbar-link:hover {
  text-decoration: underline;
}

.navbar-link:active {
  text-decoration: underline;
  transform: scale(0.9);
}

.main {
  margin: 70px auto 0 auto;
}
.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../img/old-notebook-paper_backgraund.jpg");
  background-size: auto;
}
.welcome-section-title {
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 5vw;
  color: #3355aa;
}
.welcom-section-text {
  font-weight: 700;
  font-size: 2vw;
  color: #fd7537;
}

.projects {
  margin: 50px auto;
  text-align: center;
}

.project-title {
  text-decoration: underline;
}
.projects-list {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 64em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.projects-item,
.project-tile {
  width: 400px;
  margin: 10px;
  color: #fff;
  background-color: #3355aa;
  text-decoration: none;
  box-shadow: 4px 4px 10px 0 #000;
  transition: all 1s 0s ease;
}
.projects-item:hover {
  transform: scale(1.05);
}

.projects-item-img {
  margin: 5px;
  width: 95%;
}

.projects-item span {
  display: block;
  padding-bottom: 20px;
}

@media screen and (max-width: 900px) {
  body {
    background-color: #000;
  }
}
